NEXT_PUBLIC_WEB_URL=url

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_key
CLERK_SECRET_KEY=key

# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=your-anon-key
NEXT_SUPABASE_SERVICE_ROLE=
NEXT_SUPABASE_DB_PASSWORD=

NEXT_PUBLIC_MASTRA_URL=mastra-url

NEXT_PUBLIC_COPILOTKIT_LICENSE_KEY=
